{% extends 'base.html' %} {% block conteudo %}
<div class="">
</div>
<div class="container card">
    <div class="card text-center">
        <div class="row mb-4 p-3">
            <div class="container">
                <div class="jumbotron bg-primary">
                    <h1 class="display-4 text-center text-white">Orçamento</h1>
                    <p class="lead">
                        <div class="form-group">
                            <select class="form-control"> 
                           <option data-url="..." selected>Nenhum...</option>
                            {% for cadastro in todos %}
                <option class="form-control" data-url="/orcamentos/{{cadastro.id}}" placeholder="Nenhum" readonly >
                {{cadastro.nome}}
                </option>
               {% endfor %}
                   </select>
                    </p>
                    </div>
                    <hr> {% if resultado %} {% for cadastro in resultado %}
                    <div class="card-body text-white ">

                        <label for="">Nome<input class="form-control" type="text" placeholder="{{cadastro.nome}}" disabled></label>
                        <Label>CNPJ ou CPF<input class="form-control" type="text" placeholder="{{cadastro.cnpj_cpf}}" disabled></Label>
                        <Label>Telefone<input class="form-control" type="text" placeholder="{{cadastro.telefone}}" disabled></Label>
                        <Label>E-mail<input class="form-control" type="text" placeholder="{{cadastro.email}}" disabled> {% endfor %} {% endif %}</Label>


                        <div class="col-md order-md-1">
                            <h4 class="mb-3">Endereço de cobrança</h4>
                            <form class="needs-validation" novalidate>

                        </div>

                        <div class="mb-3">
                            <label for="email">CNAE <span class="text-muted"></span></label>
                            <input type="email" class="form-control" id="CNAE" placeholder="">
                            <div class="invalid-feedback">

                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="Data">Data <span class="text-muted"></span></label>
                            <input type="datetime-local" class="form-control" id="Data" placeholder="Data">
                            <div class="invalid-feedback">

                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="endereco">Descritivo</label>
                            <input type="textarea" class="form-control" id="Descritivo" placeholder="Descritivo" required>
                            <div class="invalid-feedback">

                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="endereco2">Observação <span class="text-muted"></span></label>
                            <input type="text" class="form-control" id="observacao" placeholder="Observação">
                        </div>


                    </div>
                    <hr class="mb-3">
                    <label for="valor_total" class="text-white">Valor Total <span class="text-muted"></span></label>
                    <div class="input-group mb-4">

                        <div class="input-group-prepend mb-3">

                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Quantia">
                        <div class="input-group-append">
                            <span class="input-group-text">,00</span>
                        </div>

                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-success btn-rounded">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var select = document.querySelector('select');
    select.addEventListener('change', function() {
        var selecionada = this.options[this.selectedIndex];
        var url = selecionada.getAttribute('data-url');
        if (url) window.location = url;
    });
</script>
{% endblock conteudo %}